  /* latin-ext */
  @font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://static.callummclu.co.uk/fonts/varela/latin_ext/400.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://static.callummclu.co.uk/fonts/varela/latin/400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
.name{
    font-family: 'Varela Round', sans-serif;
}

.otw{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content-container{
    margin-top: 120px;
    @media screen and (max-width:940px) {
        margin-top: 220px;
    }
}

.wave{
    margin-top:75px;
    height:100px;
    width:100%;
    background-color:#009473;
    margin-bottom: -5px;
    -webkit-clip-path: polygon(100% 100%, 0% 100% , 0.00% 49.15%, 2.00% 52.55%, 4.00% 54.52%, 6.00% 54.96%, 8.00% 53.83%, 10.00% 51.20%, 12.00% 47.24%, 14.00% 42.20%, 16.00% 36.39%, 18.00% 30.17%, 20.00% 23.95%, 22.00% 18.11%, 24.00% 13.01%, 26.00% 8.99%, 28.00% 6.28%, 30.00% 5.06%, 32.00% 5.41%, 34.00% 7.31%, 36.00% 10.63%, 38.00% 15.16%, 40.00% 20.63%, 42.00% 26.69%, 44.00% 32.96%, 46.00% 39.04%, 48.00% 44.55%, 50.00% 49.15%, 52.00% 52.55%, 54.00% 54.52%, 56.00% 54.96%, 58.00% 53.83%, 60.00% 51.20%, 62.00% 47.24%, 64.00% 42.20%, 66.00% 36.39%, 68.00% 30.17%, 70.00% 23.95%, 72.00% 18.11%, 74.00% 13.01%, 76.00% 8.99%, 78.00% 6.28%, 80.00% 5.06%, 82.00% 5.41%, 84.00% 7.31%, 86.00% 10.63%, 88.00% 15.16%, 90.00% 20.63%, 92.00% 26.69%, 94.00% 32.96%, 96.00% 39.04%, 98.00% 44.55%, 100.00% 49.15%);
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 49.15%, 2.00% 52.55%, 4.00% 54.52%, 6.00% 54.96%, 8.00% 53.83%, 10.00% 51.20%, 12.00% 47.24%, 14.00% 42.20%, 16.00% 36.39%, 18.00% 30.17%, 20.00% 23.95%, 22.00% 18.11%, 24.00% 13.01%, 26.00% 8.99%, 28.00% 6.28%, 30.00% 5.06%, 32.00% 5.41%, 34.00% 7.31%, 36.00% 10.63%, 38.00% 15.16%, 40.00% 20.63%, 42.00% 26.69%, 44.00% 32.96%, 46.00% 39.04%, 48.00% 44.55%, 50.00% 49.15%, 52.00% 52.55%, 54.00% 54.52%, 56.00% 54.96%, 58.00% 53.83%, 60.00% 51.20%, 62.00% 47.24%, 64.00% 42.20%, 66.00% 36.39%, 68.00% 30.17%, 70.00% 23.95%, 72.00% 18.11%, 74.00% 13.01%, 76.00% 8.99%, 78.00% 6.28%, 80.00% 5.06%, 82.00% 5.41%, 84.00% 7.31%, 86.00% 10.63%, 88.00% 15.16%, 90.00% 20.63%, 92.00% 26.69%, 94.00% 32.96%, 96.00% 39.04%, 98.00% 44.55%, 100.00% 49.15%);

    @media screen and (max-width:940px) {
        -webkit-clip-path: polygon(100% 100%, 0% 100% , 0.00% 39.64%, 2.00% 38.13%, 4.00% 36.48%, 6.00% 34.73%, 8.00% 32.91%, 10.00% 31.05%, 12.00% 29.16%, 14.00% 27.29%, 16.00% 25.46%, 18.00% 23.71%, 20.00% 22.05%, 22.00% 20.52%, 24.00% 19.14%, 26.00% 17.93%, 28.00% 16.91%, 30.00% 16.09%, 32.00% 15.50%, 34.00% 15.13%, 36.00% 15.00%, 38.00% 15.11%, 40.00% 15.45%, 42.00% 16.02%, 44.00% 16.81%, 46.00% 17.80%, 48.00% 18.99%, 50.00% 20.36%, 52.00% 21.87%, 54.00% 23.52%, 56.00% 25.27%, 58.00% 27.09%, 60.00% 28.95%, 62.00% 30.84%, 64.00% 32.71%, 66.00% 34.54%, 68.00% 36.29%, 70.00% 37.95%, 72.00% 39.48%, 74.00% 40.86%, 76.00% 42.07%, 78.00% 43.09%, 80.00% 43.91%, 82.00% 44.50%, 84.00% 44.87%, 86.00% 45.00%, 88.00% 44.89%, 90.00% 44.55%, 92.00% 43.98%, 94.00% 43.19%, 96.00% 42.20%, 98.00% 41.01%, 100.00% 39.64%);
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 39.64%, 2.00% 38.13%, 4.00% 36.48%, 6.00% 34.73%, 8.00% 32.91%, 10.00% 31.05%, 12.00% 29.16%, 14.00% 27.29%, 16.00% 25.46%, 18.00% 23.71%, 20.00% 22.05%, 22.00% 20.52%, 24.00% 19.14%, 26.00% 17.93%, 28.00% 16.91%, 30.00% 16.09%, 32.00% 15.50%, 34.00% 15.13%, 36.00% 15.00%, 38.00% 15.11%, 40.00% 15.45%, 42.00% 16.02%, 44.00% 16.81%, 46.00% 17.80%, 48.00% 18.99%, 50.00% 20.36%, 52.00% 21.87%, 54.00% 23.52%, 56.00% 25.27%, 58.00% 27.09%, 60.00% 28.95%, 62.00% 30.84%, 64.00% 32.71%, 66.00% 34.54%, 68.00% 36.29%, 70.00% 37.95%, 72.00% 39.48%, 74.00% 40.86%, 76.00% 42.07%, 78.00% 43.09%, 80.00% 43.91%, 82.00% 44.50%, 84.00% 44.87%, 86.00% 45.00%, 88.00% 44.89%, 90.00% 44.55%, 92.00% 43.98%, 94.00% 43.19%, 96.00% 42.20%, 98.00% 41.01%, 100.00% 39.64%);
    }

    &--reverse{
        @extend .wave;
        margin-top: 0;
        transform: rotate(180deg);
    }
}

.banner{

    @media screen and (max-width:940px) {
        margin-bottom:150px;
    }

    @media screen and (max-width:500px) {
        min-height: 590px;
        margin-bottom: 180px;
    }

    width:100%;
    min-height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    column-gap: 40px;
    & .text-container{

        & h1{
            margin-top: 0;
                padding-top: 0;
                margin-bottom:0;
                padding-bottom: 0;
        }

        @media screen and (max-width:940px) {
            text-align: center;
            & h1{
                white-space: nowrap;
                font-size: clamp(20px,5vw,36px);
            }
        }

        min-width: 300px;
        max-width: 500px;
    }

    & .image{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width:300px;
        height:300px;
        max-width: 500px;
        background-position: center;
        background-size: contain;
    }
}