.text-elipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(60rem - 200px);
}

.text-elipsis-smaller{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(60rem - 200px);
}

.badge-wrap{
    max-width: calc(60rem - 200px); 
}

.badge-wrap-smaller{
    max-width: calc(60rem - 200px); 
}

@media screen and (max-width: 61rem) {
    .text-elipsis,.badge-wrap{
        max-width: calc(84vw - 100px);
    }
    .text-elipsis-smaller,.badge-wrap-smaller{
        max-width: calc(84vw - 125px);
    }
}

@media screen and (max-width: 525px) {
    .text-elipsis,.badge-wrap{
        max-width: calc(84vw - 20px);
    }
}

@media screen and (max-width: 570px) {
    .text-elipsis-smaller,.badge-wrap-smaller{
        max-width: calc(84vw - 60px);
    }
}

.page{

    background-color: white;
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);  
    position: relative;
    min-height: calc(100vh - 200px);
    height:fit-content;
    background-size: cover;
    
    & .image-container{
        height:200px;
        border-radius: 10px;
        position: relative;
        & .image{
            height:100%;
            width:100%;
            border-radius: 10px;
            background-size: cover;
        }

        & .image-overlay{
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background:linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(0,212,255,0) 100%);
        }

        & .content{
            position: absolute;
            bottom: 5px;
            left:0;
        }

    }
}


.card-container-banner{
    height: calc(100vh - 60px);
    max-height: 1000px;
}

.projects{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap:25px;
    min-height: 200px;
    margin-bottom: 100px;

    & .project-item{
        min-width: 350px;
        width: clamp(350px, 60vw ,100vw);
        position: relative;

        &.admin{
            padding-bottom:50px;
        }

        & .image{
            width:100%;
            background-image: url(https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height:calc(200px);
        }
        & .description{

            & p,h3{
                margin:0;
                padding: 0;
                line-height: 30px;
            }

            & h3{
                margin-top: 10px;
            }
        }
    }
}