.nav{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    gap:50px;
    padding-left: 50px;
    height: 60px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,212,255,0) 100%);



    & a{
        text-decoration: none;
        color:black;
        &:visited{
            color: gray;
        }
    }
}