.nav{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    gap:50px;
    padding-left: 50px;
    height: 60px;
    background: white;

    border-bottom: 0.25px solid lavender;

    &.show-bottom-border{
        border:0;
    }


    & a{
        text-decoration: none;
        color:black;
        &:visited{
            color: gray;
        }
    }
}